@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root {
    --dark-black: #000000;
    --white-color: #fff;
    --monstrate-font-500: 'Montserrat', sans-serif;
    --history-btn-color: #2C2D30;
    --green-color:green;
    --auto-btn-color:#C86325;
    --controllers-bg-color:#1B1C1D;
}

.gameboard-section {
    width: 100%;
    height: 100%;
   
}
.gameboard-section .gameboard-container {
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.gameboard-section .gameboard-container .game-section {
    width: 70%;
    height: 100% ;
    max-width: 73%;
    margin-top: 10px;
}

.gameboard-section .gameboard-container .game-section .game-history-header {
    width: 100%;
    display: flex;
}

.gameboard-section .gameboard-container .game-section .game-history-header .histories {
    max-width: 85%;
    display: flex;
    align-items: center;
    list-style: none;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 10px;
}



.gameboard-section .gameboard-container .game-section .game-history-header .histories .history {
    color: #F8C961;
    padding: 0px 20px;
}

.gameboard-section .gameboard-container .game-section .game-history-header .history-btn {
    width: 60px;
    height: 30px;
    cursor: pointer;
    margin-left: 10px;
    margin-top: -5px;
}

.gameboard-section .gameboard-container .game-section .game-history-header .history-btn img {
    width: 100%;
    height: 100%;
}

/* Response breakpoint */
@media screen and (max-width:820px) {
    .gameboard-section {
        width: 100%;
        height: 100%;
    }

    .gameboard-section .gameboard-container {
        width: 95%;
        margin: auto;
        display: block;
        
    }

    .gameboard-section .gameboard-container .game-section {
        width: 100%;
        max-width: 100%;
        margin-top: 10px;
        padding-left: 0px;
    }

    .gameboard-section .gameboard-container .game-section .game-history-header .histories {
        max-width: 85%;
        display: flex;
        align-items: center;
        list-style: none;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
        padding-bottom: 5px;
    }


    .gameboard-section .gameboard-container .game-section .game-history-header .history-btn {
        width: 40px;
        height: 25px;
        cursor: pointer;
        margin-left: 10px;
        margin-top: -5px;
    }

    /* unity game box designe */
    .gameboard-section .gameboard-container .game-section .unity-game-box {
        width: 100%;
        height: 45%;
        margin: auto;
        margin-top: 10px;
    }

    .gameboard-section .gameboard-container .game-section .unity-game-box .canvas {
        width: 100%;
        height: 100%;
        background-color: var(--white-color);
    }

}

/* unity game box designe */
.unity-game-box {
    width: 100%;
    height: 53vh;
    margin-top: 5px;
}
.unity-game-box .canvas{
    width: 100%;
    height: 100%;
}
.unity-game-box .canvas .unity {
    width: 100%;
    height: 100%;
    background-color: var(--white-color);
}

/* Game controllers  */

.gameboard-section .gameboard-container .game-section .game-controllers-section {
    width: 100%;
    margin-top: 5px;

}

.gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
   
}

.gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container 
.left-controllers {
    width: 44%;
    padding: 10px 18px 10px 18px;
    background-color: var(--controllers-bg-color);
    border-radius: 12px;
}

.gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container .left-controllers .header-buttons {
    width: 100%;
    text-align: center;
}

.gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container
 .left-controllers .header-buttons button {
    padding: 4px 35px 4px 35px;
    margin: auto;
    border-radius: 20px;
    background-color: var(--history-btn-color);
    color: var(--white-color);
    border: none;
    font-family: var(--monstrate-font-500);
    text-transform: capitalize;
    font-size: 0.9rem;
    margin-top: 10px;
    cursor: pointer;
}

.gameboard-section .gameboard-container .game-section .game-controllers-section
 .gamecontrollers-container .left-controllers .header-buttons .auto-btn {
    background-color: var(--auto-btn-color);
}

.gameboard-section .gameboard-container .game-section .game-controllers-section
 .gamecontrollers-container .left-controllers .play-bet-controllers {
    width: 90%;
    margin: auto;
    justify-content: space-between;
    display: flex;
    margin-top: 10px;
}

.gameboard-section .gameboard-container .game-section .game-controllers-section 
.gamecontrollers-container .left-controllers .play-bet-controllers .apply-bet-controllers .bet-counter {
    width: 130px;
    height: 23px;
    padding: 2px;
    margin: auto;
    border-radius: 20px;
    background-color: var(--history-btn-color);
    color: var(--white-color);
    border: none;
    font-family: var(--monstrate-font-500);
    text-transform: capitalize;
    font-size: 0.9rem;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.gameboard-section .gameboard-container .game-section .game-controllers-section
 .gamecontrollers-container .left-controllers .play-bet-controllers .apply-bet-controllers .bet-counter button {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: none;
    border: 1px solid #ffffff;
    font-size: 1rem;
    background: transparent;
    color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    cursor: pointer;
}

.gameboard-section .gameboard-container .game-section .game-controllers-section
 .gamecontrollers-container .left-controllers .play-bet-controllers .apply-bet-controllers
  .bet-counter button i {
    font-size: 12px;
    margin-top: 3px;
    cursor: pointer;
}

.gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container 
.left-controllers .play-bet-controllers .apply-bet-controllers .bet-counter .increse {
    color: #C86325;
    border: 1px solid #B65A22;
}

.gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container
 .left-controllers .play-bet-controllers .apply-bet-controllers .bet-values {
    width: 80px;
    margin: auto;
    margin-top: 20px;
}

.gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container
 .left-controllers .play-bet-controllers .apply-bet-controllers .bet-values .one-to-two,
.five-to-tan {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--white-color);
    font-family: var(--white-color);
    font-family: var(--monstrate-font-500);
    font-size: 0.7rem;
    margin-top: 4px;
}

.gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container
 .left-controllers .play-bet-controllers button {
    padding: 12px 40px 12px 40px;
    border-radius: 12px;
    background-color: var(--green-color);
    border: 1px solid #B2F2A3;
    font-family: var(--monstrate-font-500);
    color: var(--white-color);
    line-height: 1.3rem;
    font-size: 1rem;
    font-weight: 520;
    cursor: pointer;
}

/* right controllers  */

.gameboard-section .gameboard-container .game-section .game-controllers-section 
.gamecontrollers-container .right-controllers {
    width: 44%;
    padding: 10px 20px 10px 20px;
    background-color: var(--controllers-bg-color);
    border-radius: 12px;
}

.gameboard-section .gameboard-container .game-section .game-controllers-section 
.gamecontrollers-container .right-controllers .header-buttons {
    width: 100%;
    text-align: center;
}

.gameboard-section .gameboard-container .game-section .game-controllers-section 
.gamecontrollers-container .right-controllers .header-buttons button {
    padding: 4px 35px 4px 35px;
    margin: auto;
    border-radius: 20px;
    background-color: var(--history-btn-color);
    color: var(--white-color);
    border: none;
    font-family: var(--monstrate-font-500);
    text-transform: capitalize;
    font-size: 0.9rem;
    margin-top: 10px;
    cursor: pointer;
}

.gameboard-section .gameboard-container .game-section .game-controllers-section
 .gamecontrollers-container .right-controllers .header-buttons i {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid var(--white-color);
    margin-left: 40px;
    color: var(--white-color);
    cursor: pointer;
}

.gameboard-section .gameboard-container .game-section .game-controllers-section 
.gamecontrollers-container .right-controllers .header-buttons .auto-btn {
    background-color: var(--auto-btn-color);
}

.gameboard-section .gameboard-container .game-section .game-controllers-section 
.gamecontrollers-container .right-controllers .play-bet-controllers {
    width: 90%;
    margin: auto;
    justify-content: space-between;
    display: flex;
    margin-top: 10px;
}

.gameboard-section .gameboard-container .game-section .game-controllers-section 
.gamecontrollers-container .right-controllers .play-bet-controllers .apply-bet-controllers .bet-counter {
    width: 130px;
    height: 23px;
    padding: 2px;
    margin: auto;
    border-radius: 20px;
    background-color: var(--history-btn-color);
    color: var(--white-color);
    border: none;
    font-family: var(--monstrate-font-500);
    text-transform: capitalize;
    font-size: 0.9rem;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.gameboard-section .gameboard-container .game-section .game-controllers-section
 .gamecontrollers-container .right-controllers .play-bet-controllers .apply-bet-controllers
  .bet-counter button {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: none;
    border: 1px solid #ffffff;
    font-size: 1rem;
    background: transparent;
    color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    cursor: pointer;
}

.gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container
 .right-controllers .play-bet-controllers .apply-bet-controllers .bet-counter button i {
    font-size: 12px;
    margin-top: 3px;
    cursor: pointer;
}

.gameboard-section .gameboard-container .game-section .game-controllers-section 
.gamecontrollers-container .right-controllers .play-bet-controllers .apply-bet-controllers .bet-counter
 .increse {
    color: #C86325;
    border: 1px solid #B65A22;
}

.gameboard-section .gameboard-container .game-section .game-controllers-section 
.gamecontrollers-container .right-controllers .play-bet-controllers .apply-bet-controllers .bet-values {
    width: 80px;
    margin: auto;
    margin-top: 20px;
}

.gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container
 .right-controllers .play-bet-controllers .apply-bet-controllers .bet-values .one-to-two,
.five-to-tan {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--white-color);
    font-family: var(--white-color);
    font-family: var(--monstrate-font-500);
    font-size: 0.7rem;
    margin-top: 4px;
}

.gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container
 .right-controllers .play-bet-controllers button {
    padding: 12px 40px 12px 40px;
    border-radius: 12px;
    background-color: var(--green-color);
    border: 1px solid #B2F2A3;
    font-family: var(--monstrate-font-500);
    color: var(--white-color);
    line-height: 1.3rem;
    font-size: 1rem;
    font-weight: 520;
    cursor: pointer;
}

/* bets details section designe */
.gamebets-section {
    width: 30%;
    margin-left: 30px;
    margin-top: 40px;
}


.gamebets-section .gamebets-tabs {
    display: flex;
    align-items: center;
}

.gamebets-section .gamebets-tabs button {
    padding: 4px 20px 4px 20px;
    margin: auto;
    border-radius: 20px;
    background-color: var(--history-btn-color);
    color: var(--white-color);
    border: none;
    font-family: var(--monstrate-font-500);
    text-transform: capitalize;
    font-size: 0.7rem;
}

.gamebets-section .gamebets-details .details-header {
    display: flex;
    justify-content: space-between;
}

.gamebets-section .gamebets-details .details-header .total-bets {
    font-family: var(--monstrate-font-500);
    color: var(--white-color);
    padding-top: 10px;
    margin-left: 13px;
    font-size: 0.8rem;
    display: block;
}

.gamebets-section .gamebets-details .details-header .previous-hand button {
    padding: 4px 20px 4px 20px;
    margin: auto;
    border-radius: 20px;
    background-color: var(--history-btn-color);
    color: var(--white-color);
    border: none;
    font-family: var(--monstrate-font-500);
    text-transform: capitalize;
    font-size: 0.7rem;
    margin-top: 10px;
}

.gamebets-section .gamebets-details  .details-headings{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}
.gamebets-section .gamebets-details  .details-headings div{
    color: var(--white-color);
}
.gamebets-section .gamebets-details .details-details{
    width: 100%;
    height: 65vh;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    -webkit-overflow-scrolling: touch;
}
.gamebets-section .gamebets-details .details-details::-webkit-scrollbar{
    height: 0.2rem;
    width: 0.5rem;
}
.gamebets-section .gamebets-details .details-details::-webkit-scrollbar-thumb{
    background-color: var(--controllers-bg-color);
    border-radius: 20px;
}
.gamebets-section .gamebets-details .details-details table{
    width: 100%;
    border: none;
    border-collapse: collapse;
    margin-top: 20px;
  
}



.gamebets-section .gamebets-details .details-details table th{
    color: var(--white-color);
    font-family: var(--monstrate-font-500);
    font-size: 0.8rem;
    text-transform: capitalize;
    font-weight: 400;
}
   
.gamebets-section .gamebets-details .details-details table tr td{
    color: var(--white-color);
    font-family: var(--monstrate-font-500);
    font-size: 0.8rem;
    text-align: center;
    padding-top: 15px;
}
.gamebets-section .gamebets-details .details-details table tr td .user{
    display: flex;
    align-items: center;
   color: var(--white-color);
}
.gamebets-section .gamebets-details .details-details table tr td .user img{
    width: 30px;
    height: 30px;
    clip-path: circle();
    margin-right: 12px;
}

.gamebets-section .gamebets-details .details-details .userbets-card {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.gamebets-section .gamebets-details .details-details .userbets-card .user {
    display: flex;
    align-items: center;
}

.gamebets-section .gamebets-details .details-details .userbets-card .user img {
    width: 35px;
    height: 35px;
    object-fit: fill;
    margin-right: 10px;
}

.gamebets-section .gamebets-details .details-details .userbets-card .user {
    color: var(--white-color);
    font-family: var(--monstrate-font-500);
    font-size: 0.7rem;
}

.gamebets-section .gamebets-details .details-details .userbets-card .bets-value,.bets-out-value {
    color: var(--white-color);
    font-family: var(--monstrate-font-500);
    font-size: 0.8rem;
}


/* Responsive breakpoint for bets details */
@media screen and (max-width:820px){
    /* bets details section designe */
.gamebets-section {
    width: 90%;
    margin: auto;
    margin-top: 40px;
}



.gamebets-section .gamebets-tabs button {
    padding: 5px 23px 5px 23px;
    margin: auto;
    border-radius: 20px;
    background-color: var(--history-btn-color);
    color: var(--white-color);
    border: none;
    font-family: var(--monstrate-font-500);
    text-transform: capitalize;
    font-size: 0.7rem;
}

.gamebets-section .gamebets-details .details-details .userbets-card {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 18px;
}

.gamebets-section .gamebets-details .details-details .userbets-card .user {
    display: flex;
    align-items: center;
}

.gamebets-section .gamebets-details .details-details .userbets-card .user img {
    width: 35px;
    height: 35px;
    object-fit: fill;
    margin-right: 10px;
}

.gamebets-section .gamebets-details .details-details .userbets-card .user {
    color: var(--white-color);
    font-family: var(--monstrate-font-500);
    font-size: 0.7rem;
}

.gamebets-section .gamebets-details .details-details .userbets-card .bets-value {
    color: var(--white-color);
    font-family: var(--monstrate-font-500);
    font-size: 0.8rem;
}

}



/* Responsive breakpoints for game controllers */

@media screen and (max-width:912px){
    .gameboard-section .gameboard-container .game-section .game-controllers-section {
        width: 100%;
        margin-top: 15px;
      padding: 0px;
    }
    .gameboard-section .gameboard-container .game-section .game-controllers-section 
    .gamecontrollers-container {
        width: 100%;
        margin: auto;
        display: block;
        margin-left: 0px;
       
    }
    .gameboard-section .gameboard-container .game-section .game-controllers-section 
    .gamecontrollers-container .left-controllers {
        width: 90%;
        margin: auto;
        padding: 10px 20px 10px 20px;
        background-color: #1B1C1D;
        border-radius: 12px;
        margin-bottom: 10px;
        
    }
    /* right controllers  */
    
    .gameboard-section .gameboard-container .game-section .game-controllers-section 
    .gamecontrollers-container .right-controllers {
        width: 90%;
        padding: 10px 20px 10px 20px;
        margin: auto;
        background-color: var(--controllers-bg-color);
        border-radius: 12px;
    }


    .gameboard-section .gameboard-container .game-section .game-controllers-section
 .gamecontrollers-container .right-controllers .play-bet-controllers {
    width: 90%;
    margin: auto;
    justify-content: space-between;
    display: flex;
    margin-top: 10px;
    flex-direction: row-reverse;
}

.gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container
 .left-controllers .play-bet-controllers button {
    padding: 12px 35px 12px 35px;
    border-radius: 12px;
    background-color: var(--green-color);
    border: 1px solid #B2F2A3;
    font-family: var(--monstrate-font-500);
    color: var(--white-color);
    line-height: 1.3rem;
    font-size: 1rem;
    font-weight: 520;
    cursor: pointer;
}

.gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container
 .right-controllers .play-bet-controllers button {
    padding: 12px 35px 12px 35px;
    border-radius: 12px;
    background-color: var(--green-color);
    border: 1px solid #B2F2A3;
    font-family: var(--monstrate-font-500);
    color: var(--white-color);
    line-height: 1.3rem;
    font-size: 1rem;
    font-weight: 520;
    cursor: pointer;
}

}

/* game controllerse responsive breakpoint for  view width */
@media screen and (min-width:1024px){
    .gameboard-section .gameboard-container .game-section .game-controllers-section {
        width: 100%;
        margin-top: 15px;
      padding: 0px;
    }
    .gameboard-section .gameboard-container .game-section .game-controllers-section 
    .gamecontrollers-container {
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        margin-left: 0px;
       
    }
    .gameboard-section .gameboard-container .game-section .game-controllers-section 
    .gamecontrollers-container .left-controllers {
        width: 43%;
        margin: auto;
        padding: 10px 20px 10px 20px;
        background-color: #1B1C1D;
        border-radius: 12px;
        margin-bottom: 10px;
        
    }
    /* right controllers  */
    
    .gameboard-section .gameboard-container .game-section .game-controllers-section 
    .gamecontrollers-container .right-controllers {
        width: 43%;
        padding: 10px 20px 10px 20px;
        margin: auto;
        background-color: var(--controllers-bg-color);
        border-radius: 12px;
    }
    .gameboard-section .gameboard-container .game-section .game-controllers-section
    .gamecontrollers-container .left-controllers .play-bet-controllers {
       width: 95%;
       margin: auto;
       justify-content: space-between;
       display: flex;
       margin-top: 10px;
       flex-direction: row-reverse;
   }

    .gameboard-section .gameboard-container .game-section .game-controllers-section
 .gamecontrollers-container .right-controllers .play-bet-controllers {
    width: 95%;
    margin: auto;
    justify-content: space-between;
    display: flex;
    margin-top: 10px;
    flex-direction: row-reverse;
}

.gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container
 .left-controllers .play-bet-controllers button {
    padding: 12px 35px 12px 35px;
    border-radius: 12px;
    background-color: var(--green-color);
    border: 1px solid #B2F2A3;
    font-family: var(--monstrate-font-500);
    color: var(--white-color);
    line-height: 1.3rem;
    font-size: 1rem;
    font-weight: 520;
    cursor: pointer;
}

.gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container
 .right-controllers .play-bet-controllers button {
    padding: 12px 35px 12px 35px;
    border-radius: 12px;
    background-color: var(--green-color);
    border: 1px solid #B2F2A3;
    font-family: var(--monstrate-font-500);
    color: var(--white-color);
    line-height: 1.3rem;
    font-size: 1rem;
    font-weight: 520;
    cursor: pointer;
}
}