@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root {
    --dark-black: #000000;
    --white-color: #fff;
    --monstrate-font-500: 'Montserrat', sans-serif;

}

header {
    width: 100%;
    height: 10dvh;
    background-color: #000000;
}

header nav {
    width: 90%;
    height: 100% ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    background-color: var(--dark-black);
}

header nav .logo {
    width: 60px;
    height: 40px;
}

header nav .logo img {
    width: 100%;
    height: 100%;
}

header nav ul {
    display: flex;
}

header nav ul li {
    padding: 0px 20px;
    cursor: pointer;
}

header nav ul .user-profile {
    display: flex;
    align-items: center;
}

header nav ul .user-profile .username {
    color: var(--white-color);
    font-family: var(--monstrate-font-500);
    text-transform: capitalize;
    font-size: 0.9rem;
}

header nav ul .user-profile i {
    font-size: 20px;
    padding: 1px;
    color: var(--white-color);
    border: 1px solid #ffffff;
    border-radius: 50%;
    margin-right: 10px;
}

header nav ul .user-balance {
    display: block;
    margin-top: 10px;
}

header nav ul .user-balance .balance,
.balance-value {
    color: var(--white-color);
    color: var(--white-color);
    font-family: var(--monstrate-font-500);
    text-transform: capitalize;
    font-size: 0.9rem;
}

header nav ul .user-balance i {
    color: var(--white-color);
}
header nav ul .user-wallet{
    display: flex;
    align-items: center;
}
header nav ul .user-wallet i {
    color: var(--white-color);
    font-size: 30px;
}
header nav ul .menu-icon{
    display: flex;
    align-items: center;
}
header nav ul .menu-icon i {
    color: var(--white-color);
    font-size: 30px;
}



/* Responseive code */
@media screen and (max-width:600px){
    header {
        width: 100%;
        height: 60px;
        background-color: #000000;
    }
    
    header nav {
        width: 95%;
        height: 100%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--dark-black);
    }
    
    header nav .logo {
        width: 40px;
        height: 40px;
    }
    
    header nav .logo img {
        width: 100%;
        height: 100%;
    }
    
    header nav ul {
        display: flex;
    }
    
    header nav ul li {
        padding: 0px 10px;
        cursor: pointer;
    }
    
    header nav ul .user-profile {
        display: flex;
        align-items: center;
    }
    
    header nav ul .user-profile .username {
        color: var(--white-color);
        font-family: var(--monstrate-font-500);
        text-transform: capitalize;
        font-size: 0.8rem;
    }
    
    header nav ul .user-profile i {
        font-size: 16px;
        padding: 1px;
        color: var(--white-color);
        border: 1px solid #ffffff;
        border-radius: 50%;
        margin-right: 10px;
    }
    
    header nav ul .user-balance {
        display: block;
        margin-top: 10px;
    }
    
    header nav ul .user-balance .balance,
    .balance-value {
        color: var(--white-color);
        color: var(--white-color);
        font-family: var(--monstrate-font-500);
        text-transform: capitalize;
        font-size: 0.8rem;
    }
    
    header nav ul .user-balance i {
        color: var(--white-color);
    }
    header nav ul .user-wallet i {
        color: var(--white-color);
        font-size: 20px;
    }
 
    header nav ul .menu-icon i {
        color: var(--white-color);
        font-size: 20px;
    }
    
}